<div class="container-fluid mt-3 mb-3">
    <form [formGroup]="userForm" (submit)="onSubmit($event)">
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input
            type="text"
            class="form-control"
            formControlName="username"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter username"
            />
            <p *ngIf="username?.errors?.required">This field can't be empty</p>
            <p *ngIf="username?.errors?.forbiddenName">{{username?.errors?.forbiddenName?.value}} can't be taken</p>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
            type="password"
            class="form-control"
            formControlName="password"
            id="exampleInputPassword1"
            placeholder="Password"
            />
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Retype Password</label>
            <input
            type="password"
            class="form-control"
            formControlName="retype"
            id="exampleInputPassword1"
            placeholder="Retype Password"
            />
            <p *ngIf="userForm.errors?.valuesDoesNotMatch">Values does not match</p>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit - {{ userForm?.valid }} </button>
    </form>
</div>